/* logement */

.location {
    padding: 0 0px;
    max-width: 1440px;
    width: 94%;
    margin: auto ;
    margin-bottom: 100px; 
}

@media (max-width: 768px) {
    .location {
        padding: 10px 10px;
        max-width: 800px;
        
    }
}