/* page home */

.home {
    padding: 0 50px;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .home {
        padding: 0 32px ;
        width: 80%;
    }
    
}